<div>
    <div class="title">To Divine Memories / Предугадать воспоминания</div>
    <div class="length">1'22"</div>
    <div class="desc">Investigation on what memory is, how it passes through from one person to another and how it exists in society. Do we really know how memories are stored and what events are imprinted in our minds? Can memories migrate from one mind to another?</div>    
    <div class="desc">Размышления о том, что есть память, как она переходит от человека к человеку и существует в обществе. Знаем ли мы как хранятся воспоминания, и что за события хранятся в нашем сознании? Могут ли воспоминания перемещаться от человека к человеку?</div></div>