<div>
    <h1>Proposal / Предложение</h1>
    <div class="length">1'50"</div>
    <div class="desc">The princess is skying on an far away planet when the Prince finally finds her. But they both changed a lot since the last meeting.</div>    
    <div class="desc">Принцесса катается на лыжах на далекой планете, когда ее, наконец, находит принц. Но они оба сильно изменились с последней встречи.</div><br>
    <div class="desc"> 
        <a class="link" href="http://www.vkiselev.com/memories" target="_blank"><img src="/static/img/mem_sm.png" height=13px width=13px> Get a book!</a></div>
</div>