<div>
    <h1>Danaë</h1>
    <div class="length">Oil, Cardbord 495x495mm</div>
    <div class="length">2014</div>
    <div class="desc">Though out the history of art female nude was constantly an object to a male gaze. In this work I was exploring what it is for a male be an object of viewing and not the viewer.</div>
    <div class="desc">В истории искусства женская обнаженная натура постоянно является объектом мужского взгляда. В это работе я исследовал, что происходит, когда мужчина становится объектом рассмотрения, а не зрителем.</div>
    <br>
    <div class="length">Buy at 
        <a href="https://www.saatchiart.com/art/Painting-Dana/951652/3362364/view" target="_blank"><img src="http://www.google.com/s2/favicons?domain=saatchiart.com">Saatchi Art</a></div>
</div>