{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}
{% block microformats %}
    <meta property="og:title" content="{{ item.name }}"/>
    <meta property="og:description" content="{{ item.og_desc }}"/>
    <meta property="og:image" content="http://{{ request.host }}{{ item.fb_thumb }}"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'still_header.html' %}

        <div class="padding-top-big"></div>
        <div class="row">
            <div class="col-md-9">
                <p class="flat-img-container">
                    <img id='myimg' src="{{ item.img }}" class="flat-img">
                </p>
            </div>

            <div class="col-md-3">

                {{ item.desc | safe }}

                <div>
                    {% include 'social_share.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}