{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row index-row">
            <div class="col-md-6 break-index">
                <div class="row">
                        <nobr>
                            <a href="{{ url_for('animated') }}"><img title="animated"
                                                                     class="index_image shade-hover"
                                                                     src="/old/staticim_big.jpg"></a>
                            <a href="{{ url_for('still') }}"><img class="index_image shade-hover" title="still"
                                                                  src="/old/staticill_big.jpg"></a>
                        </nobr>
                </div>
                <div class="row">
                        <nobr>
                            <a href="{{ url_for('memories') }}"><img class="index_image shade-hover" title="memories"
                                                                     src="/old/staticm_big.jpg"></a>
                            <a href="{{ url_for('vasili') }}"><img class="index_image shade-hover" title="vasili"
                                                                   src="/old/static_big.jpg"></a>
                        </nobr>
                </div>
            </div>

            <div class="col-md-4">
            </div>
            
            <div class="col-md-2">
                    {% for item in preview %}
                        <div class="row">
                            <div class="">
                                <div class="cartoon_item">
                                    <a href="{{ item.url }}"><img class="shade-hover" src="{{ item.img }}"
                                                                  width="100%"/></a>

                                    <div class="cartoon_desc">
                                        <a href="{{ item.url }}">{{ item.desc }}</a>
                                    </div>
                                </div>
                            </div>
                      </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}