<div>
    <h1>Royal Duty / Королевские обязанности</h1>
    <div class="length">3'11"</div>
    <div class="desc">Princess is flying on the spaceship with the creatures that recruited her to be their sovereign. Subsequently she finds out something new about royal duties and happiness of her subjects.</div>    
    <div class="desc">Принцесса летит на космическом корабле существ, которые позвали ее быть их правителем. Неожиданно она узнает что-то новое об обязанностях правителя и счастье подданных.</div></div>