<div>
    <h1>New Adventures / Новые приключения</h1>
    <div class="length">16'53"</div>
    <div class="desc">New adventures of the Princess. Now she left her realm with a couple of aliens to see the eternal
        space and find new hilarious planets and maybe some new old friends.
    </div>
    <div class="desc">Новые приключения принцессы. Она покинула своем королевство с двумя инопланетянами, чтобы увидеть
        бескрайний космос, найти новые удивительные планеты и, возможно, новых старый друзей.
    </div><br>
    <div class="desc"> 
        <a class="link" href="http://www.vkiselev.com/memories" target="_blank"><img src="/static/img/mem_sm.png" height=13px width=13px> Get a book!</a></div>
</div>