---
import { Image } from "astro:assets";
interface Props {
  url: string;
  width?: number;
  height?: number;
}
const { url, width, height } = Astro.props;

function processVideoUrl(url: string) {
  if (!url) return null;
  let finalUrl = url;
  if (url.includes("youtube.com")) {
    finalUrl = url.replace("http://", "//");
    if (!url.includes("playlist")) {
      finalUrl += "?rel=0&showinfo=0&autohide=1&cc_load_policy=1&disablekb=1";
    }
  }
  return finalUrl;
}

const embedUrl = processVideoUrl(url);
---
{embedUrl && (
  <div class="videoWrapper">
    <iframe 
      width={width || 560} 
      height={height || 315} 
      src={embedUrl} 
      frameborder="0" 
      allowfullscreen
    ></iframe>
  </div>
)}
