---
import Layout from "../layouts/Layout.astro";
---
<Layout 
  title="Vasili Kiselev - vkiselev.com"
  description="About Vasili Kiselev."
>
  <div class="mem_section">Vasili</div>
  <p>Страница в процессе миграции.</p>
</Layout>
