<div>
    <h2>Ryaba the Hen / Курочка Ряба</h2>

    <h3>3'13"</h3>
    <h4>Once there lived Ryaba the hen with and old man and an old woman who were US spies. They were propagandizing
        LGBT to minors and tried to destroy Russia. But Ryaba was very patriotic and helped to save the country.</h4>
    <h4>Жила-была курочка Ряба. И были у курочки Рябы дед и баба. Не обычные дед и баба, а американские шпионы. Они
        пропагандировали ЛГБТ несовершеннолетним и пытались уничтожить Русь. Но Ряба была очень патриотична и помогла
        спасти страну.</h4>
</div>