<div>
    <h1>Postcards / Открытки</h1>
    <div class="length">2019 ongoing</div>
    <div class="desc">I love sending and receiving postcards, so I decided that I should make them myself to say more that words.
    </div>
    <div class="desc">Я люблю отправлять и получать открытки, поэтому я решил сделать свои, чтобы отправить больше, чем слова.
    </div>
    <div class="desc">
        <a class="link" href="https://www.patreon.com/ystava" target="_blank"><img src="http://www.google.com/s2/favicons?domain=patreon.com"> Become a patron and get a postcard</a></div>
</div>