<div>
    <h1>Selfportrait with a Cat</h1>
    <div class="length">Oil, Cardboard 700x600mm</div>
    <div class="length">2009</div>
    <div class="desc">Sometimes you just stay alone at home with a cat, that is warm and alive but you still fill lonely. I thought that friends will come, but they never appeared on the picture plain.</div>
    <div class="desc">Иногда ты просто остаешься дома один с котом, который тебя греет, но не может победить чувство одиночества. Я думал, что друзья придут, но они так и не появились в картине.</div>
    <br>
    <div class="length">Buy at 
        <a href="https://www.saatchiart.com/art/Painting-Selfportrait-with-a-Cat/951652/3951519/view" target="_blank"><img src="http://www.google.com/s2/favicons?domain=saatchiart.com">Saatchi Art</a></div>
</div>