<div>
    <h1>les L.B.d'A.</h1>
    <div class="length">Oil, Cardboard 320x400mm</div>
    <div class="length">2009</div>
    <div class="desc">The name of this painting comes from a name of song a white dragonfly of love. These are just feelings.</div>
    <div class="desc">Эта картина о белой стрекозе любви. Только чувства.</div>
    <br>
    <div class="length">Buy at 
        <a href="https://www.saatchiart.com/art/Painting-les-L-B-d-A/951652/3951495/view" target="_blank"><img src="http://www.google.com/s2/favicons?domain=saatchiart.com">Saatchi Art</a></div>
</div>