<div>
    <h1>Ryaba the Hen / Курочка Ряба</h1>
    <div class="length">3'13"</div>
    <div class="desc">Once there lived Ryaba the hen with and old man and an old woman who were US spies. They were propagandizing
        LGBT to minors and tried to destroy Russia. But Ryaba was very patriotic and helped to save the country.</div>
    <div class="desc">Жила-была курочка Ряба. И были у курочки Рябы дед и баба. Не обычные дед и баба, а американские шпионы. Они пропагандировали ЛГБТ несовершеннолетним и пытались уничтожить Русь. Но Ряба была очень патриотична и помогла спасти страну.</div>
    <h2>Screenings / Показы</h2>
    <div class="desc">
        <a class="link" href="http://www.usnexpo.it/usn-festival/">19/11/2015 20:00 - Sardinia Queer SFF, Cagliari/Sardinia</a><br/>
        <a class="link" href="http://www.luksuz.si">6/11/2015 19:30 - Luksuz film festival, Krško/Slovenia</a><br/>
        <a class="link" href="http://www.queerfilmfest.org">29/10-1/11/2015 - Kiyv Queer Film Festival, Kiyv/Ukraine</a><br/>
        <a class="link" href="http://stoptrikiff.eu">2/10/2015 - StopTrik, Maribor/Slovenia</a><br/>
    <a class="link" href="https://insaneanimationfilmfestivalmalmosweden.wordpress.com">13/09/2015 - I.N.S.A.N.E., Malmö/Sweden</a><br/>
        <a class="link" href="http://www.festanca.sk">25/06/2015 - Fest Anca, Žilina/Slovakia</a></div>
</div>