<div>
    <h1>Fleet / Флот</h1>
    <div class="length">Oil, Metal, Canvas 400x200mm</div>
    <div class="length">2019</div>
    <div class="desc">I like organizing things in patterns and let them go. The same as this fleet that will soon disappear over horizon.</div>
    <div class="desc">Я люблю организовывать вещи и отпускать их. Так и этот флот скоро исчезнет за горизонтом.</div>
    <br>
    <div class="length">Buy at 
        <a href="https://www.saatchiart.com/art/Collage-Fleet/951652/4989734/view" target="_blank"><img src="http://www.google.com/s2/favicons?domain=saatchiart.com">Saatchi Art</a></div>
</div>