---

interface Props {
  twitter?: string | null;
  facebook?: string | null;
  the_book?: string | null;
}
const { twitter, facebook, the_book } = Astro.props as Props;
---
<div class="follow-block pull-right text-right">
  <span class="share">Follow:</span>
  {twitter && (
    <span class="ext_ref">
      <a href={twitter} target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-x-twitter"></i></a>
    </span>
  )}
  {facebook && (
    <span class="ext_ref">
      <a href={facebook} target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i></a>
    </span>
  )}
  {the_book && (
    <span class="ext_ref">
      <a href={the_book} target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-book"></i></a>
    </span>
  )}
  <span class="follow-down">
    <!-- <a href="https://www.youtube.com/ystavatube" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a> -->
    <div class="g-ytsubscribe" data-channel="ystavatube" data-layout="default" data-count="hidden"></div>
  </span>
</div>
