---
interface Props {
  url: string; // absolute URL to share
  title?: string;
}
const { url, title } = Astro.props as Props;
---
<div class="social-center pull-right">
  <div class="shareon" data-url={url} data-title={title}>
    <a class="facebook" title="Facebook"></a>
    <a class="twitter" title="Twitter"></a>
    <a class="telegram" title="Telegram"></a>
    <a class="whatsapp" title="WhatsApp"></a>
    <a class="pinterest" title="Pinterest"></a>
    <a class="copy-url" title="Copy Link"></a>
  </div>
</div>
<br />
<div class="clear-fix"></div>

<style>
  .social-center {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 32px;
  }
</style>
