<div>
    <h1>Smog / Смог</h1>
    <div class="length">1'27"</div>
    <div class="desc">A story about a city where there were too many cars, and Smog was born there one winter. He wanted to rule the city for ever and always, but cyclist Daria came into play.</div>
    <div class="desc">История о том, как из-за слишком большого количества машин, в одном городе зимой родился Смог. Он хотел властвовать в городе всегда, но в дело вмешалась бравая велосипедистка Даша.</div>
    <h2>Screenings / Показы</h2>
    <div class="desc">
        <a class="link" href="http://velokino.com" target="_blank">10/10/2016 - Velokino, Moscow/Russia</a>
        </div>
</div>