<div>
    <h1>Environmental Awareness / Забота о природе</h1>
    <div class="length">2'44"</div>
    <div class="desc">The Princess meets a bird and discusses her concerns about nature.</div>    
    <div class="desc">Маленькая принцесса встречает птицу и обсуждает свою озабоченность проблемами природы.</div><br>
    <div class="desc"> 
        <a class="link" href="http://www.vkiselev.com/memories" target="_blank"><img src="/old/staticm_sm.png" height=13px width=13px> Get a book!</a></div>
</div>