<div>
    <div class="title">Seed / Семя</div>
    <div class="length">2014</div>
    <div class="desc">Everything starts from something small. Plants and animals start from a small seed, biggest
        terrors and universal hatred start from something tiny within ourselves. Humans can bear life or death. We are
        all seeds for something whether it is big or small. There is eternal source of creation within our depths and we
        create and destroy numerous stuff as everything does, as nature does.
    </div>
    <div class="desc">Все начинается с малого. Растения и животные начинаются с маленького семени, самые большие ужасы и
        вселенская ненависть начинаются с чего-то крошечного внутри нес. Люди рождают жизнь и смерть. Мы все семена для
        чего-то, большого или малого. Внутри нас есть бесконечные источник созидания, и мы создаем и унижтожаем огромное
        количество всего, как и все остальные, как природа.
    </div>
    <div class="desc">
        <a class="link" href="http://cecartslink.org/projects/GAL/ArtProspect2014.html">Art Prospect 2014 / Арт Проспект 2014</a></div>
</div>