<div>
    <h1>On the Spot / В окружении</h1>
    <div class="length">17'19"</div>
    <div class="desc">I was thinking to hanging myself recently but ultimately decided to do it with my representation. Unfortunately, Pieni Vasiilij turned out to be so sweet that it was pretty hard to do it with him. I was thinking why I am so eager to do it with my dearest self but not with a puppet. This video is like life, one drags his or her representation that is highlighted but the person him or herself is in shadows. Camera: Jarmo Wideman</div>    
    <div class="desc">Так и идешь сквозь жизнь, тянешь за собой представления о себе, которые все видят, а сам находишься в тени. Оператор: Ярмо Видеман</div></div>