{% extends "base.html" %}

{% block title %}Animated{% endblock %}
{% block content %}
    <div class="container">
        <div>Big menu</div>
        <div>This page menu</div>

        <div class="anim_section">cartoons</div>
        <div class="row">
            {% for item in cartoons %}
                <div class="col-md-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        {{ item.desc }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="anim_section">princess episodes</div>
        <div class="row">
            {% for item in princess %}
                <div class="col-md-2 col-lg-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        {{ item.desc }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="anim_section">misc</div>
        <div class="row">
            {% for item in misc %}
                <div class="col-md-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        {{ item.desc }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}