{% extends "base.html" %}

{% block title %}Animated{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Animated"/>
    {# о чем эта страница: A collection of moving stuff by Vasili Kiselev. It includes different types of clay, cut-out animation on sports, LGBT, love etc., finger puppet show about adventures of a little princess and a number of experimental videos.#}
    <meta property="og:description" content="Vasili Kiselev"/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb - можно сделать случайные 4 картинки со страницы в прямоугольник?#}
    <meta property="og:image" content="http://vkiselev.com/static/img/anim_big.jpg?cache=2"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'animated_header.html' %}

        <div id='cartoon' class="anim_section">animation</div>
        <div class="row">
            {% for item in cartoons %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id='princess' class="anim_section">the princess</div>
        <div class="row">
            {% for item in princess_seasons %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for item in princess %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>


        <div id='misc' class="anim_section">misc</div>
        <div class="row">
            {% for item in misc %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% include 'social_share2.html' %}
        </div>
    </div>

{% endblock %}