<div class="row">
    <div class="col-md-12 global-header">
        <div class="animated-header">
            <a href="{{ url_for('animated') }}"> <img class="shade-hover" src="/static/img/anim_inv.png"></a> A:
            <a href="{{ url_for('animated') }}#cartoon">animation</a> |
            <a href="{{ url_for('animated') }}#princess">the princess</a> |
            <a href="{{ url_for('animated') }}#misc">misc</a>
            {% include 'right_header.html' %}
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 navigation global-header">
        {% if prev %}
            <div class="pull-left">
                <img src="/static/img/arrow_left.jpg" width=10px></a>
                <a href="{{ prev.url }}"> {{ prev.name }}</a>
            </div>
        {% endif %}

        {% if next %}
            <div class="pull-right">
                <a href="{{ next.url }}">{{ next.name }} </a>
                <img src="/static/img/arrow_right.jpg" width=10px></a>
            </div>
        {% endif %}
    </div>
</div>
