<div class="row">
    <div class="col-md-12 global-header">
        <div class="animated-header">
            <a href="{{ url_for('animated') }}"> <img class="black-hover" src="/static/img/anim_inv.png"></a> A:
            <a href="{{ url_for('animated') }}#cartoon">animation</a> |
            <a href="{{ url_for('animated') }}#princess">the princess</a> |
            <a href="{{ url_for('animated') }}#misc">misc</a>
            {% include 'right_header.html' %}
        </div>
    </div>
</div>


<div class="row">
    {% include 'nextprev.html' %}
</div>
