{% extends "base.html" %}

{% block title %}Animated{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Animated"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="Vasili Kiselev"/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/anim_big.jpg?cache=1"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'common_header.html' %}
        {% include 'animated_header.html' %}

        <div id='cartoon' class="anim_section">cartoons</div>
        <div class="row">
            {% for item in cartoons %}
                <div class="col-md-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id='princess' class="anim_section">princess episodes</div>
        <div class="row">
            {% for item in princess %}
                <div class="col-md-2 col-lg-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id='misc' class="anim_section">misc</div>
        <div class="row">
            {% for item in misc %}
                <div class="col-md-2 cartoon_item">
                    <a href="{{ item.url }}"><img src="{{ item.img }}" width="100%"/></a>

                    <div class="cartoon_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% include 'social_share.html' %}
        </div>
    </div>

{% endblock %}