{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}
{% block microformats %}
    <meta property="og:title" content="{{ item.name }}"/>
    <meta property="og:description" content="{{ item.og_desc }}"/>
    <meta property="og:image" content="http://{{ request.host }}{{ item.img }}"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'animated_header.html' %}

        <div class="padding-top-big"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="center-align">
                        <iframe src="{{ item.youtube }}"
                                height="390"
                                {% if item.width %} width="{{ item.width }}" {% else %} width="640"  {% endif %}
                                frameborder="0" allowfullscreen>
                        </iframe>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <p>
                        {{ item.desc | safe }}
                    </p>

                    <p>
                        {% include 'social_share.html' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}