<div>
    <div class="container-fluid">
        <div class="row">
                <div class="col-md-8 pull-left">
                    <div class="pull-left">
                        <a href="{{ url_for('animated') }}"><img src="/static/img/anim_inv.jpg" width=20px>animated</a>
                    </div>
                </div>
            <div class="col-md-4 pull-right">
                <div class="pull-right">
                    <a href="{{ url_for('still') }}"><img src="/static/img/still_sm.jpg"></a>
                    <a href="{{ url_for('memories') }}"><img src="/static/img/mem_sm.jpg"></a>
                    <a href="{{ url_for('vasili') }}"><img src="/static/img/vk_sm.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>