{% extends "base.html" %}

{% block title %}{{ item.name }}{% endblock %}
{% block microformats %}
    <meta property="og:title" content="{{ item.name }}"/>
    <meta property="og:description" content="{{ item.og_desc }}"/>
    <meta property="og:image" content="http://{{ request.host }}{{ item.img }}"/>
{% endblock %}
{% block content %}
    <div class="container">
            {% include 'still_header.html' %}

        <div class="padding-top-big"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <p>
                        <img src="{{ item.img }}" width="100%">
                    </p>
                    <p>
                        {{ item.desc | safe }}
                    </p>

                    <p>
                        {% include 'social_share.html' %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}