{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="row index-row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <a href="{{ url_for('animated') }}"><img title="animated"
                                                                 class="index_image shade-hover"
                                                                 src="/static/img/anim_big.jpg"></a>
                        <a href="{{ url_for('still') }}"><img class="index_image shade-hover" title="still"
                                                              src="/static/img/still_big.jpg"></a>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-11">
                            <a href="{{ url_for('memories') }}"><img class="index_image shade-hover" title="memories"
                                                                     src="/static/img/mem_big.jpg"></a>
                            <a href="{{ url_for('vasili') }}"><img class="index_image shade-hover" title="vasili"
                                                                   src="/static/img/vk_big.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 index-row">
                {% for item in preview %}
                    <div class="row">
                        <div class="{{ cols_class }} cartoon_item">
                            <a href="{{ item.url }}"><img class="shade-hover" src="{{ item.img }}" width="100%"/></a>

                            <div class="cartoon_desc">
                                <a href="{{ item.url }}">{{ item.desc }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                {#                <a class="twitter-timeline" href="https://twitter.com/ystava" data-widget-id="613080241171529728">Tweets#}
                {#                    by @ystava</a>#}
                {#                <script>!function (d, s, id) {#}
                {#                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';#}
                {#                    if (!d.getElementById(id)) {#}
                {#                        js = d.createElement(s);#}
                {#                        js.id = id;#}
                {#                        js.src = p + "://platform.twitter.com/widgets.js";#}
                {#                        fjs.parentNode.insertBefore(js, fjs);#}
                {#                    }#}
                {#                }(document, "script", "twitter-wjs");</script>#}
            </div>
        </div>
    </div>
{% endblock %}