{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row index-row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <a href="{{ url_for('animated') }}"><img class="shade-hover" title="animated" class="index_image" src="/static/img/anim_big.jpg"></a>
                <a href="{{ url_for('still') }}"><img class="shade-hover" title="still" class="index_image" src="/static/img/still_big.jpg"></a>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <a href="{{ url_for('memories') }}"><img class="shade-hover" title="memories" class="index_image" src="/static/img/mem_big.jpg"></a>
                    <a href="{{ url_for('vasili') }}"><img class="shade-hover" title="vasili" class="index_image" src="/static/img/vk_big.jpg"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}