{% extends "base.html" %}

{% block title %}2Diggers - Настоящее агентство по найму IT-людей{% endblock %}
{% block content %}
    <div class="padding-top-big"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11"><a href="{{ url_for('animated') }}"><img src="static/img/anim_big.jpg"></a><img
                    src="static/img/still_big.jpg" <="" div="">
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11"><img src="static/img/mem_big.jpg"><img src="static/img/vk_big.jpg" <="" div="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}