{% extends "base.html" %}

{% block title %}Memories{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Memories"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="Some great books and designs by Vasili Kiselev that you can wear or just keep for youself as a memory of the moment."/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/fb_mem.jpg?cache=1"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'mem_header.html' %}
        <div class="padding-top-big"></div>
        <div id='memories' class="mem_section">the book</div>
        <div class="row">
            <div class="col-md-7">
                <a href="http://www.lulu.com/content/e-book/princess/13780154" target="_blank"><img class="shade-hover"
                                                                                    src="/static/img/ecover.jpg"
                                                                                    width="100%"></a>
            </div>
            <div class="col-md-5">
                <div class="desc">The princess lives in a palace with her cat and slaves. Sometimes she has to
                    decapitate one or another peasant but she loves her people with all her heart and tries to make
                    their lives better. The birth of princess is a mystery and her parents are missing in the
                    beginning. However later the Princess finds her family and the truth of her birth reveals to
                    her. Currently she is ruling in her realm and has a number of problems to solve and a number of
                    people and creatures to meet.
                </div>
                <div class="row">
                    <div class="desc">
                        <div class="share">Paperback:</div>
                        <a href="http://www.amazon.com/Princess-Vasily-Kiselev/dp/1291337148/" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=amazon.com">
                            Amazon;
                        </a>

                        <a href="http://www.lulu.com/content/paperback-book/princess/13682700" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=lulu.com">
                            Lulu.com
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="desc">
                        <div class="share">eBOOK:</div>
                        <a href="http://www.amazon.com/Princess-ebook/dp/B00COUM6LU/" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=amazon.com">
                            Kindle;
                        </a>


                        <a href="http://www.barnesandnoble.com/w/princess-vasily-kiselev/1115214274?ean=9781300925538" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=barnesandnoble.com">
                            B&amp;N;
                        </a>

                        <a href="https://itunes.apple.com/us/book/princess/id638270042" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=itunes.apple.com">
                            iBook;
                        </a>


                        <a href="http://www.lulu.com/content/e-book/princess/13780154" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=lulu.com">
                            Lulu.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id='memories' class="mem_section">Ts and more</div>
        <div class="row">
            <div class="col-md-7">
                <a href="http://vkiselev.spreadshirt.com" target="_blank"><img class="shade-hover" src="/static/img/ts.jpg"
                                                               width="100%"></a>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="desc">Get yourself a t-shirt or something warmer with your favourite pattern from an
                        animation or a still you saw on the site.
                    </div>
                    <div class="desc">
                        <a href="http://vkiselev.spreadshirt.com" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=spreadshirt.com">
                            Spreadshirt
                        </a> or
                        <a href="http://www.zazzle.com/vkiselev" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=zazzle.com">
                            Zazzle
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="desc">Обзаведись футболкой с полюбившимися героями и картинами с этого сайта.
                    </div>
                    <div class="desc">
                        <a href="http://vkiselev.printio.ru" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=printio.ru">
                            Printio
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id='memories' class="mem_section">stills</div>
        <div class="row">
            <div class="col-md-7">
                <a href="https://www.saatchiart.com/vkiselev" target="_blank"><img class="shade-hover" src="/static/img/fb_still.jpg" width="100%"></a>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="desc">Paintings and other stills available here:
                    </div>
                    <div class="desc">
                        <a href="https://www.saatchiart.com/vkiselev" target="_blank">
                            <img src="http://www.google.com/s2/favicons?domain=saatchiart.com">
                            Saatchi Art
                        </a> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'social_share.html' %}
        </div>
    </div>
{% endblock %}