<br/>
<script async src="/static/js/social-likes.min.js"></script>
<div class="pull-left">
    <div class="g-ytsubscribe pull-right" data-channel="ystavatube" data-layout="default" data-count="hidden"></div>
</div>
<div class="social-likes pull-right">
    <div class="facebook" title="Share link on Facebook">Facebook</div>
    <div class="vkontakte" title="Share link on VK">VK</div>
    <div class="twitter" title="Share link on Twitter">Twitter</div>
    <div class="plusone" title="Share link on Google+">Google+</div>
</div>
<br/><br/>