<script async src="/static/js/social-likes.min.js"></script>
{#<div class="pull-left">#}
{#    <div class="g-ytsubscribe pull-right" data-channel="ystavatube" data-layout="default" data-count="hidden"></div>#}
{#</div>#}
<div id='likesv' class="social-likes-topm">
    <div class="social-likes pull-right text-right">
        <div class="facebook" title="Share link on Facebook"></div>
        <div class="vkontakte" title="Share link on VK"></div>
        <div class="twitter" title="Share link on Twitter"></div>
        <div class="plusone" title="Share link on Google+"></div>
    </div>
</div>

<script>
    // media query event handler
    if (matchMedia) {
        var mq = window.matchMedia("(min-width: 992px)");
        mq.addListener(WidthChange);
        WidthChange(mq);
    }

    // media query change
    function WidthChange(mq) {

        if (mq.matches) {
            $("#likesv").addClass("social-likes_vertical");
        }
        else {
            $("#likesv").removeClass("social-likes_vertical");
        }

    }

</script>
