<div class="row">
    <div class="col-md-12 global-header">
        <div class="still-header">
            <a href="{{ url_for('still') }}"><img src="/static/img/still_inv.jpg" style="margin-left: 10px;"></a> S:
            <a href="{{ url_for('still') }}#flat">flat</a> |
            <a href="{{ url_for('still') }}#projects">projects</a> |
            <a href="{{ url_for('still') }}#comics">comics</a>
        <span class="header-rest pull-right">
            <a href="{{ url_for('animated') }}"><img src="/static/img/anim_sm.jpg"></a>
            <a href="{{ url_for('still') }}"><img src="/static/img/still_sm.jpg"></a>
            <a href="{{ url_for('memories') }}"><img src="/static/img/mem_sm.jpg"></a>
            <a href="{{ url_for('vasili') }}"><img src="/static/img/vk_sm.jpg"></a>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 navigation global-header">
        {% if prev %}
            <div class="pull-left">
                <img src="/static/img/arrow_left.jpg" width=10px></a>
                <a href="{{ prev.url }}"> {{ prev.name }}</a>
            </div>
        {% endif %}
        {% if next %}
            <div class="pull-right">
                <a href="{{ next.url }}">{{ next.name }} </a>
                <img src="/static/img/arrow_right.jpg" width=10px></a>
            </div>
        {% endif %}
    </div>
</div>
