{% extends "base.html" %}

{% block title %}Still{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Animated"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="A collection of still stuff by Vasili Kiselev. It includes different paintings. applications, projects and comics. The artist is interested in colour, emotions and relationships between people and with oneself."/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/fb_still.jpg?cache=2"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'still_header.html' %}
        
        <div id='flat' class="still_section">flat</div>
        <div class="row">
            {% for item in flat %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img class="shade-hover" src="{{ item.img }}" width="100%"/></a>

                    <div class="still_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id='projects' class="still_section">projects</div>
        <div class="row">
            {% for item in projects %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img class="shade-hover" src="{{ item.img }}" width="100%"/></a>

                    <div class="still_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id='comics' class="still_section">comics</div>
        <div class="row">
            {% for item in comics %}
                <div class="{{ cols_class }} cartoon_item">
                    <a href="{{ item.url }}"><img class="shade-hover" src="{{ item.img }}" width="100%"/></a>

                    <div class="still_desc">
                        <a href="{{ item.url }}">{{ item.desc }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <a href=""><img src="/static/img/arrow_up.jpg" width="20px"/></a>
            {% include 'social_share.html' %}
        </div>
    </div>
{% endblock %}