<div class="row">
    <div class="col-md-12 global-header">
        <div class="still-header">
            <a href="{{ url_for('still') }}"><img class="black-hover" src="/static/img/still_inv.png"></a> S:
            <a href="{{ url_for('still') }}#flat">flat</a> |
            <a href="{{ url_for('still') }}#projects">projects</a> |
            <a href="{{ url_for('still') }}#comics">comics</a>
            {% include 'right_header.html' %}
        </div>
    </div>
</div>


<div class="row">
    {% include 'nextprev.html' %}
</div>
