<script async src="/static/js/social-likes.min.js"></script>

<div>
    <a href="javascript:window.scrollTo(0,0);" class="pull-left"><img class="scroll-top-a" src="/static/img/arrow_up.jpg"
                                                                       width="20px"
                                                                       alt="Up!"/></a>

<div class="social-center pull-right">
    <div class="social-likes">
        <div class="share" style="padding-left: 6px">Share:</div>
        <div class="facebook" title="Share link on Facebook"></div>
        <div class="vkontakte" title="Share link on VK"></div>
        <div class="twitter" title="Share link on Twitter"></div>
    </div>
</div>
<br/>
<div class="clear-fix"></div>