{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Animated"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="Vasili Kiselev"/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/anim_big.jpg?cache=1"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'common_header.html' %}
<img src="/static/img/vasili.gif"></a>
        <div>
    <div class="title">BIO</div>
    <div class="desc">Vasily Kiselev was born in Leningrad, USSR back in 1984. He is interested in the world around, problems of perception and interpretation and exploration of colour and movement. Vasily started his work with painting and applications and gradually moved to puppetry and animation.</div>
    <div class="desc">Text Rus</div>

        <div class="row">
            {% include 'social_share.html' %}
        </div>
    </div>
{% endblock %}