{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Animated"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="Vasili Kiselev"/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/anim_big.jpg?cache=1"/>
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'vk_header.html' %}

        <div class="padding-top-big"></div>
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <p class="center-align">
                        <img src="/static/img/vasili.gif">
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <div>
                        <h1>About</h1>
                        <div class="desc">Vasily Kiselev was born in Leningrad, USSR back in 1984. He is interested
                            in
                            the world
                            around, problems of perception, interpretation and exploration of colour and movement.
                            Vasily
                            started
                            his work with painting and applications and gradually moved to puppetry and animation.
                        </div>
                        <div class="desc">Василий Киселёв родился в Ленинграде, СССР в 1984 году. Его интересует мир
                            вокруг,
                            процессы восприятия, интерпретации и изучения цвета и движения. Василий начал работу с
                            живописи и
                            аппликаций и постепенно перешел к куклам и анимации.
                        </div>
                        <div class="desc">+ 7 90 52 78 90 20</div>
                        <div class="desc"><a href="mailto:me@vkiselev.com">me@vkiselev.com</a></div>

                        <div class="row">
                            {% include 'social_share.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}