<div>
    <div class="container">
        <div class="row">
                <div class="col-md-10 rest-header">
                    <div class="vk-header">
                        <a href="{{ url_for('vasili') }}"> <img src="/static/img/vk_inv.jpg"></a> vk
                    </div>
                </div>
            <div class="col-md-2 rest-header">
                <div>
                    <a href="{{ url_for('animated') }}"><img src="/static/img/anim_sm.jpg"></a>
                    <a href="{{ url_for('still') }}"><img src="/static/img/still_sm.jpg"></a>
                    <a href="{{ url_for('memories') }}"><img src="/static/img/mem_sm.jpg"></a>
                </div>
            </div>
        </div>
    </div>
</div>