{% extends "base.html" %}

{% block title %}Vasili Kiselev{% endblock %}
{% block microformats %}
    <meta property="og:title" content="Vasili Kiselev"/>
    {# о чем эта страница ???#}
    <meta property="og:description" content="Vasili Kiselev is an artist interested in the world around, problems of perception, interpretation and exploration of colour and movement. Vasily started his work with painting and applications and gradually moved to puppetry and animation. His paintings can be found in private collections and animations on amazing festivals all over the world."/>
    {# и картинку, которая будет при шаринге ссылки на тебя через fb#}
    <meta property="og:image" content="http://vkiselev.com/static/img/fb_base.jpg?cache=1"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'vk_header.html' %}

        <div class="padding-top-big"></div>
        <div class="row">
            <div class="col-md-9">
                <img src="/old/staticsili.gif" class="vk-img">
            </div>
            <div class="col-md-3">
                <div>
                    <h1>About</h1>

                    <div class="desc">Vasily Kiselev was born in Leningrad, USSR back in 1984. He is interested
                        in
                        the world
                        around, problems of perception, interpretation and exploration of colour and movement.
                        Vasily
                        started
                        his work with painting and applications and gradually moved to puppetry and animation.
                        <br>
                        His paintings can be found in private collections and animations on amazing festivals all over the world.
                    </div>
                    <div class="desc">Василий Киселёв родился в Ленинграде, СССР в 1984 году. Его интересует мир
                        вокруг,
                        процессы восприятия, интерпретации и изучения цвета и движения. Василий начал работу с
                        живописи и
                        аппликаций и постепенно перешел к куклам и анимации.
                        <br>
                        Его рисунки разбежались по частным коллекциям, а мультфильмы по восхитительным фестивалям всего мира.
                    </div>
                    <div class="desc"><i class="fa fa-phone"></i> + 7 90 52 78 90 20</div>
                    <div class="desc"><i class="fa fa-envelope-o"></i> <a href="mailto:kloito@gmail.com">koito@gmail.com</a></div>
                    <div class="desc"><a class="link" href="https://www.patreon.com/ystava" target="_blank"><img src="http://www.google.com/s2/favicons?domain=patreon.com"> Become a patron</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}