<div>
    <h1>Slicing path / Опасная тропа</h1>
    <div class="length">2018 in process</div>
    <div class="desc">Some movie scenes became signatures or even common places over years. Almost everyone imagined him, her or itself passing through it as boldly and skillfully as a character does on the screen. But what would you feel and when there is a real web of lasers in front of you in a narrow passage you are invited to get through? Or when you spot a red dot on your precious body? Someone will try to do as Alice and break through with more or less grace. Someone will just pass through as there’s nothing there. Someone will fail and fall into pieces.
    </div>
    <div class="desc">Некоторые сцены из фильмов становятся знаковыми. Почти каждый и каждая однажды представляли себя, проходящими сквозь них так же уверенно и умело, как герои фильмов. Но что вы почувствуете6 когда вокруг вас окажется реальная сеть лазерных лучей в узком проходе, сквозь который вам предложено пройти? Или когда вы заметите красную точнку на вашем драгоценном теле? Кто-то как Элис промчится с грацией сквозь лучи. Кто-то просто пройдет, будто ничего нет. Кто-то не справится и развалится на куски.
    </div>
    
</div>