<div>
    <h1>A Tree / Дерево</h1>
    <div class="length">Oil, Canvas 600x600mm</div>
    <div class="length">2020</div>
    <div class="desc">I was once walking to have my Saturday morning coffee and suddenly I saw this lone alder standing over me against the lucid background of a late autumn sky. It was so amazing that couldn't move for several minutes, standing there with eyes and mouth wide open.</div>
    <div class="desc">Как-то субботним утром я шел пить кофе. Вдруг передо мной возникла ольха. Она смотрела на меня сверху, одна на фоне прозрачного свечения осеннего неба. Это было так чудесно, что я забыл, куда шел, и стоял с широко открытыми глазами и ртом.</div>
    <br>
    <div class="length">Buy at 
        <a href="https://www.saatchiart.com/art/Painting-Tree/951652/7238065/view" target="_blank"><img src="http://www.google.com/s2/favicons?domain=saatchiart.com">Saatchi Art</a></div>
</div>